<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
---add Posts----

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}

<form method="post">
    {% csrf_token %}

    <p><input type="text" name="title" placeholder="Title"></p>
    <p><textarea name="desc" placeholder="Description"></textarea></p>
    <button type="submit" name="addpost">Add Post</button>

</form>
</body>
</html>